// See https://www.google.com/cse/static/style/look/v2/default.css
.google-cse-component {
	.gsc-control-cse {
		padding: 0;
		border: 0;
		background-color: transparent;
	}
	.gsc-webResult.gsc-result {
		border: 0;
	}
	.gsc-webResult.gsc-result:hover,
	.gsc-webResult.gsc-result.gsc-promotion:hover,
	.gsc-results .gsc-imageResult-classic:hover,
	.gsc-results .gsc-imageResult-column:hover {
		border: 0;
	}
	.gs-result .gs-title,
	.gs-result .gs-title * {
	}
}
