@import '../utility/base';

html {
	height: 100%;
	background: $concrete;
	background-size: cover;
	background-position: center;
}
body {
	height: 100%;
}

#login {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 310px;
	padding: 47px 40px 36px;
	border: 1px solid $mercury;
	border-radius: 12px;
	background: rgba($white, .95);
	box-shadow: 0 5px 15px 2px rgba($black, .2);
	text-align: center;

	> a {
		display: inline-block;
	}

	.submit {
		margin-bottom: 0;
	}
	.login-btn {
		min-width: 90px;
	}
}
#logo {
	margin-bottom: 36px;

	img {
		max-width: 145px;
	}
}
#credits {
	position: absolute;
	bottom: 10px;
	right: 0;

	.contributor {
		display: inline-block;
		margin-right: 10px;
	}
}

@media (min-height: 670px) {
	#login {
		transform: translate(-50%, -70%);
	}
}
