@import '../utility/base';

html {
	height: 100%;
	background: $concrete;
	background-size: cover;
	background-position: center;
}
body {
	height: 100%;

	input, :focus {
		outline: none;
		box-shadow: none !important;
	}

	.logo {
		width: rem(250);
		// Offset on X to center logo relative to affenbits
		transform: translateX(11%);
	}
	.password {
		flex: 1;
	}
	.error-message {
		position: absolute;
		text-align: center;
		bottom: rem(-5);
		left: 50%;
		width: 100%;
		margin-top: 0;
		transform: translate(-50%, 100%);
		color: #ff5868;
	}
}
