#logs-catalogue {
	tr.changes {
		display: none;
		background-color: #FFFFEE;

		> td {
			padding: 0 8px;
		}
		td {
			word-wrap: break-word;
			word-break: break-all;
		}
	}
	.changes-text {
		padding: 8px 0;
	}
	.changes-table {
		tr:first-child {
			th, td {
				border: 0;
			}
		}
	}
}
